<div class="container">
    <div class="card">
      <div class="header">
        <div class="id">{{pokemonsDetail?.id}}</div>
        <div class="title">{{pokemonsDetail?.name|uppercase}}</div>
        <div class="subtitle">Weight: {{pokemonsDetail?.weight}}</div>
        <div class="subtitle">Height: {{pokemonsDetail?.height}}</div>
      </div>
      <img class="card-image" src="https://unpkg.com/pokeapi-sprites@2.0.2/sprites/pokemon/other/dream-world/{{pokemonsDetail?.id}}.svg" [alt]="pokemonsDetail?.name" />
  
      <div class="content">
        <div class="content__type">
          <div class="contnet_name" >Type:</div>
          <div *ngFor="let type of pokemonsDetail?.types">
            <p>{{type?.type?.name | uppercase}}</p>
          </div>
        </div>
        <div class="content__ability">
          <div class="contnet_name">Abilities:</div>
          <div *ngFor="let ability of pokemonsDetail?.abilities">
            <p>{{ability?.ability?.name |uppercase}}</p>
          </div>
        </div>
        <div class="content__stat">
          <div class="contnet_name">Stats:</div>
          <div class="stat_class">
          <div  *ngFor="let stat of pokemonsDetail?.stats">
              <div class="state_content"> 
                <span>{{stat?.stat?.name}}: </span> 
                    <mat-progress-bar
                    class="example-margin"
                    color="primary"
                    mode="determinate"
                    value={{stat?.base_stat}}
                    bufferValue="75">
                </mat-progress-bar>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  